<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/bower_components/react/react.min.js"></script>
    <script src="/javascripts/bower_components/react/JSXTransformer.js"></script>
    <script src="/javascripts/product_table.js" type="text/jsx"></script>
  </head>
  <body>
  </body>
</html>
