html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
.timepicker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.timepicker .tp-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 180px;
  /* 50*3 + 30*/
  margin-left: -150px;
  margin-top: -90px;
  background-color: rgba(0, 0, 0, 0.95);
}
.timepicker .tp-dialog .tp-content {
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100%;
}
.timepicker .tp-dialog .tp-content .time-col-container {
  position: absolute;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.timepicker .tp-dialog .tp-content .time-col-container .time-col {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 40px;
  color: white;
  text-align: center;
}
.timepicker .tp-dialog .tp-content .time-col-container .time-col li {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
.timepicker .tp-dialog .tp-content .time-col-container.hour-col {
  left: 0;
}
.timepicker .tp-dialog .tp-content .time-col-container.min-col {
  left: 50%;
}
.timepicker .tp-dialog .tp-content .time-line {
  position: absolute;
  display: block;
  width: 40%;
  height: 5px;
  background-color: #12b7f5;
}
.timepicker .tp-dialog .tp-content .time-line.is-left {
  left: 5%;
}
.timepicker .tp-dialog .tp-content .time-line.is-right {
  left: 55%;
}
.timepicker .tp-dialog .tp-content .time-line.is-top {
  top: 45px;
  /* 50-5 */
}
.timepicker .tp-dialog .tp-content .time-line.is-bottom {
  top: 100px;
  /* 100 */
}
.timepicker .tp-dialog .tp-op {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.timepicker .tp-dialog .tp-op .op {
  display: inline-block;
  width: 50%;
  height: 100%;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid white;
  color: white;
}
